@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/mixins" as m;


.redeem-modal{
    position: fixed; 
    display: flex;
    justify-content: center;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(19,24,44,0.7); /* Black w/ opacity */

    &__content{
        display: inline-flex;
        background-color: #fefefe;
        border: 1px solid #888;
        position: absolute;
        width: 80%;
        height: 200px;
        top: 185px;
    }

}

@include bp.large{
    .redeem-modal{
        &__content{
            padding-left: 48px;
            padding-right: 24px;
            padding-top: 24px;
            display: flex;
            flex-direction: column;
            color: white;
            background-color: #141724;
            border-radius: 5px;
            width: 856px;
            height: 452px;
        }
        &__close{
            display: flex;
            justify-content: flex-end;
            @include m.fontsize_lineh_weight(40px, 30px, 400);
            cursor: pointer;
        }
        &__text-header{
            @include m.fontsize_lineh_weight(40px, 30px, 600);
            padding-bottom: 24px;
        }
        &__text-subheading{
            @include m.fontsize_lineh_weight(22px, 30px, 400);
            padding-bottom: 48px;
        }

        &__input-con1{
            display: flex;
            flex-direction: column;
            padding-right: 24px;

        }
        &__label{
            @include m.fontsize_lineh_weight(20px, 20px, 400);
            margin-bottom: 8px;
        }
        &__input{
            @include m.fontsize_lineh_weight(16px, 0, 400);
            height: 48px; 
            border-radius: 10px;
            padding-left: 24px;
            margin-bottom: 48px;
            background-color: #141724;
            border: 1px solid #8c8c8c;
            color: white;
            &:focus{
                background-color: #141724;
            }
        }
        &__input-con2{
            display: flex;
            justify-content: flex-end;
            padding-right: 24px;
        }

        &__btn-cancel{
            @include m.fontsize_lineh_weight(28px, 0, 400);
            border: 1px solid #8c8c8c;
            color: #8c8c8c;
            background-color: #141724;
            height: 48px;
            width: 125px;
            border-radius: 8px;
            text-align: center;
            margin-right: 24px;
            cursor: pointer;
            &:hover{
                border: 1px solid white;
                color: white;
            }
        }

        &__btn-continue{
            @include m.fontsize_lineh_weight(28px, 0, 400);
            border: 1px solid #276afc;
            color: #8c8c8c;
            background-color: #141724;
            height: 48px;
            width: 175px;
            border-radius: 8px;
            text-align: center;
            margin-right: 24px;
            cursor: pointer;
            &:hover{
                color: white;
                background-color: #276afc;
            }
        }
        // MODAL 2
        &__mod2-sec3{
            display: flex;
        }

        &__mod3-sec3{
            display: flex;
        }

        &__mod2-sec3-left-imgcon{
            width: 350px;
            height: 280px;
            background-image: url('../../assets/images/image\ 50.png');
            background-size: cover;
            background-color: grey;
            border-radius: 20px;
            margin-right: 48px;
        }
        &__mod2-sec3-right-con1{
            padding-top: 48px;
            padding-bottom: 24px;
            &-prodheader{
                padding-bottom: 8px;
                @include m.fontsize_lineh_weight(20px, 20px, 600);
            }
            &-prodtitle{
                @include m.fontsize_lineh_weight(28px, 20px, 600);
            }
        }
        &__mod2-sec3-right-con2{
            &-accountheader{
                padding-bottom: 8px;
                @include m.fontsize_lineh_weight(20px, 20px, 600);
            }
            &-accountname{
                @include m.fontsize_lineh_weight(28px, 20px, 600);
            }

        }
        &__mod2-sec3-right-con3 {
            padding-top: 62px;

        }

        &__mod2-btn-cancel{
            @include m.fontsize_lineh_weight(28px, 0, 400);
            border: 1px solid #8c8c8c;
            color: #8c8c8c;
            background-color: #141724;
            height: 48px;
            width: 125px;
            border-radius: 8px;
            text-align: center;
            margin-right: 24px;
            cursor: pointer;
            &:hover{
                border: 1px solid white;
                color: white;
            }
        }

        &__mod2-btn-confirm {
            @include m.fontsize_lineh_weight(28px, 0, 400);
            border: 1px solid #276afc;
            color: #8c8c8c;
            width: 175px;
            border-radius: 8px;
            text-align: center;
            margin-right: 24px;
            background-color: #276afc;
            color: white;
            cursor: pointer;
        }

        // MODAL 3

        &__mod3-sec3-left-imgcon{
            width: 350px;
            height: 280px;
            background-image: url('../../assets/images/image\ 50.png');
            background-size: cover;
            background-color: grey;
            border-radius: 20px;
            margin-right: 48px;
        }

        &__mod3-sec3-right-con1{
            width: 90%;
            padding-top: 48px;
            padding-bottom: 24px;
                @include m.fontsize_lineh_weight(20px, 24px, 400);
        }
        &__mod3-sec3-right-con2{
            padding-top: 62px;
        }

        &__mod3-btn-cancel{
            @include m.fontsize_lineh_weight(28px, 0, 400);
            border: 1px solid #8c8c8c;
            color: #8c8c8c;
            background-color: #141724;
            height: 48px;
            width: 125px;
            border-radius: 8px;
            text-align: center;
            margin-right: 24px;
            cursor: pointer;
            &:hover{
                border: 1px solid white;
                color: white;
            }

        }

        &__mod3-btn-download{
            @include m.fontsize_lineh_weight(28px, 0, 400);
            border: 1px solid #276afc;
            color: #8c8c8c;
            height: 48px;
            width: 175px;
            border-radius: 8px;
            text-align: center;
            margin-right: 24px;
            background-color: #276afc;
            color: white;
            cursor: pointer;
        }
    }
}
