//primary colors
$primary-Instock-Black: #13182c;
$primary-Instock-Indigo: #2e66e5;
$primary-White: #ffffff;

//secondary colors
$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;

//background colors
$background-Graphite: #232940;
$background-Light-Grey: #f7f8f9;

//supporting colors
$supporting-Green: #158463;
$supporting-Red: #c94515;
