@use "./colors" as *;
@use "./fonts" as *;

// Desktop and Tablet Section
@mixin desktopPageHeader {
	font-size: 2rem;
	line-height: 2.5rem;
	font-weight: 600;
}

@mixin desktopSubheader {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 600;
}

@mixin desktopLabelsLinksButtons {
	font-size: 0.875rem;
	line-height: 1.375rem;
	font-weight: 600;
}

@mixin desktopTableHeader {
	font-size: 0.75rem;
	line-height: 1.125rem;
	font-weight: 400;
}

@mixin desktopBodyLarge {
	font-size: 1rem;
	line-height: 1.75rem;
	font-weight: 400;
}

@mixin desktopBodyMedium {
	font-size: 0.875rem;
	line-height: 1.375rem;
	font-weight: 400;
}

@mixin desktopBodySmall {
	font-size: 0.75rem;
	line-height: 1.125rem;
	font-weight: 400;
}

// Mobile Section

@mixin mobilePageHeader {
	font-size: 1.75rem;
	line-height: 2.25rem;
	font-weight: 600;
}

@mixin mobileSubheader {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
}

@mixin mobileLabelsLinksButtons {
	font-size: 0.8125rem;
	line-height: 1.25rem;
	font-weight: 600;
}

@mixin mobileTableHeader {
	font-size: 0.6875rem;
	line-height: 1rem;
	font-weight: 600;
}

@mixin mobileBodyLarge {
	font-size: 0.9375rem;
	line-height: 1.625rem;
	font-weight: 400;
}

@mixin mobileBodyMedium {
	font-size: 0.8125rem;
	line-height: 1.25rem;
	font-weight: 400;
}

@mixin mobileBodySmall {
	font-size: 0.6875rem;
	line-height: 1rem;
	font-weight: 400;
}
