@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as breakpoint;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.leftsidebar{
    background-color: #171b2a;
    width: 300px;
    height: 100vh;
    color: white;
    &__sidenav{
        list-style-type: none;
    }
    &__item{
        color: #d3d3d6;
    }
}
/*  MOBILE   */
@include breakpoint.small {
}

/*  TABLET  */
@include breakpoint.medium {
}

/*  DESKTOP  */
@include breakpoint.large {
}
