@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as breakpoint;
@use "../../styles/partials/mixins" as *;

.sidebar {
  background-color: #171b2a;
  width: 300px;
  height: 20vh;
  padding-top:1rem;
  &__header {
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: bold;
    padding: 0.5rem;
  }
  &__img {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
  }
  &__title {
    display: flex;
    color: white;
    padding-left: 1.5rem;
    padding-right: 0.3rem;
    text-transform: uppercase;
    font-size: 1.375rem;
    &-wrapper {
      display: flex;
      align-items: center;
    }
    &-menu {
      margin-left: 1.5rem;
    }
  }
  &__text {
    color: white;
    font-size: 0.8rem;
  }
  &__user {
    width: 260px;
    padding-right: 1rem;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__arrow-wrapper {
    margin-left: 1.5rem;
    padding-bottom: 1rem;
  }
}