.overview {
	background-color: #1d2033;
	width: 100%;
	height: 100vh;
	color: white;
	display: flex;
	margin: 0 auto;
	gap: 5%;
	padding: 2rem;

	&-left {
		width: 60%;
	}
	&-right {
		width: 40%;
	}

	&__row {
		padding: 1rem 0;
		border-bottom: 1px solid black;

		&-bottom {
			padding: 1rem 0;
			border: none;
		}
	}
}
