@use "./styles/partials/colors" as *;

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Myriad-Pro-Regular";
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
